.externalToolBuilders
.DS_Store
.mymetadata
.checkstyle
.classpath
.class
.war
.zip
.rar
.idea
*.iml
.settings
.amateras
indexes/*
/target/*
/logs/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target
/bin
src/main/webapp/META-INF/
*.db
/.project
/d:/
/logs/
/hs_err_pid9598.log
