.checkstyle
.classpath
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
.amateras
indexes/*
/target/*
/logs/*i
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target
/bin
src/main/webapp/META-INF/
*.db
/.project
/logs/
